@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600&display=swap");
:root {
    font-size: 10px;
    --grey: #100e1d;
    --grey-dark1: #333333;
    --grey-dark2: #4f4f4f;
    --grey-dark3: #828282;
    --grer-dark4: #bdbdbd;
    --grey-light1: #f2f2f2;
    --grey-light2: #a9a9a9;
    --grey-light3: #e0e0e0;
    --white: #ffffff;
    --red: rgba(235, 87, 87, 0.7);
    --green: rgba(39, 174, 96, 0.7);
    --blue: #57b0e2;
    --sans-serif1: "Poppins", Arial, Helvetica, sans-serif;
    --sans-serif2: "Montserrat", Arial, Helvetica, sans-serif;
    --brand: "Heebo", Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS FOR SECTION 1 */

ul,
li {
    list-style-type: none;
}

a {
    color: var(--grey-dark1);
    text-decoration: none;
}

input {
    position: relative;
}

html,
body {
    scroll-behavior: smooth;
}

.eddie {
    font-size: 24px;
    font-family: var(--brand);
}

body {
    color: var(--grey-dark1);
    font-family: var(--sans-serif1);
}

.navbar {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    margin-bottom: 16px;
    position: sticky;
    top: 0%;
    background-color: var(--white);
    z-index: 100;
}

.menu {
    width: 60%;
}

.navigation_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation_item {
    font-size: 20px;
    font-weight: 500;
}

.navigation_item a {
    transition: opacity 0.4s ease-in-out;
}

.navigation_item a:hover {
    opacity: 0.8;
}


/* CSS FOR SECTION 2 */

.container {
    width: 90%;
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}

.Hero {
    margin-bottom: 100px;
}

.Hero__ask {
    /* Unhappy with your website? */
    font-weight: 500;
    font-size: 18px;
    /* line-height: 27px; */
    /* identical to box height */
    color: #2d9cdb;
}

.headline__1 {
    /* We create beautiful and fast web services */
    font-family: Poppins;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Gray 1 */
    color: #333333;
}

.Hero .Hero__ask,
.headline__1,
.info,
.email,
.form,
.input-area {
    margin-left: 15%;
    max-width: 420px;
}

.info {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* Gray 2 */
    color: #4f4f4f;
}

label {
    font-family: Poppins;
    font-size: 16px;
    line-height: 27px;
}

form {
    margin-top: 20px;
}

.email {
    display: inline-block;
}


/* CSS FOR SECTION 3 */

.services__headline {
    font-family: Poppins;
    font-weight: 500;
    font-size: 38px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Gray 1 */
    color: #333333;
}

div .flex_card {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    width: 420px;
}

.card__heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

.card__info {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 20px;
}

.card__cta {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    color: #828282;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    background-color: var(--grey-light3);
}

.flex_card:hover,
.flex_card:focus {
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 20px var(--grey-light2);
    padding: 20px;
    border-radius: 10px;
}

.flex_card:hover>.card__cta,
.flex_card:focus>.card__cta {
    background: var(--blue);
    color: var(--white);
}


/* CSS FOR SECTION 4 */

.work__headline {
    font-family: Poppins;
    font-weight: 500;
    font-size: 42px;
    width: 480px;
    margin-bottom: 20px;
    margin-top: 150px;
    /* Gray 1 */
    color: #333333;
}

.work__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-card {
    max-width: 50%;
}

.work-card:nth-child(odd) {
    margin-top: 150px;
    margin-left: 50px;
}

.work-card:nth-child(even) {
    margin-bottom: 150px;
    margin-right: 50px;
}

.work-card img {
    border-radius: 10px;
    margin-bottom: 20px;
}

.work-card p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #828282;
}

.work-card h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    /* Gray 1 */
    color: #333333;
}

.work-card:hover,
.work-card:focus {
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 10px var(--grey-light2);
    padding: 20px;
    border-radius: 10px;
}

.works a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #2d9cdb;
    position: relative;
    margin-top: 50px;
}


/* CSS FRO SECTION 4 */

.team {
    margin-top: 100px;
}

.team p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */
    color: #eb5757;
}

.team h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    /* Gray 1 */
    color: #333333;
}

.people img {
    border-radius: 24px;
}